body {
  background-color: #D0FAF5;
}

main {
  width: 150vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  padding: 10vh;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #E3A503;
  text-align: center;
  margin: auto;   
}

.subtitles {
    font-family: 'Rationale', sans-serif;
    font-size: 36px;
    text-align: center;
    margin: auto;
}

/*Used for "Enter Note:", "SUBMITTED! Box will open in:", ALL User created notes*/
.normal-text {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #E3A503;
    text-align: center;
    font-size: 24px;
    margin: auto;
}
/*Used for "Submit", "Loading", "Here are your notes" */
.note-text {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #39414f;
  text-align: center;
  font-size: 18px;
  margin: auto;
}

/*Class for table of notes*/
.tg  {width: 120vh; border-collapse:collapse; border-spacing:0; margin: auto}
.tg td{font-family:Arial, Helvetica, sans-serif;font-size:14px;padding:10px 5px; border-style:solid ;border-width:1px;overflow:hidden;word-break:normal;border-color:#E3A503;color: #39414f;background-color:#fcfcfa;}
.tg th{font-family:Arial, Helvetica, sans-serif;font-size:24px;font-weight:normal;padding:10px 5px; border-width:1px;overflow:hidden;word-break:normal;color:#39414f; background-color:#fac666;}
.tg .tg-hmp3{text-align:left;vertical-align:top} /*Normal cells*/
.tg .tg-baqh{text-align:center;vertical-align:top} /*Centered cells and headings*/


.countdown {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #6A5F44;
  text-align: center;
  font-size: 60px;
  line-height: 0px;
}

#box-closed {
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.images {
   object-fit: cover;
   display: flex;
   justify-content: center;
}

.container {
    width: 100%;
    height: 85vh;
    margin: auto;
    padding: 10px;
}
.left {
    background-color:#fac666;
    width: 47%;
    height: 85vh;
    justify-content: bottom;
    float: left;
}
.right {
    background-color:#fac666;
    margin-left: 53%;
    height: 85vh;
}

#boxnet {
  object-fit: cover;
  justify-content: center;
  width: 100%;
    height: auto;
}

#results {
    border-collapse: collapse;
    width: 100%;
    padding: 8px;
    text-align: center;
}
  
#account-address {
  text-align: center;
}
