body {
  background-color: #D0FAF5;
}

main {
  width: 100vh;
  margin: auto;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  padding: 10vh;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  text-align: center;
  margin: auto;   
}

#loader {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  margin: auto;
}

.countdown {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

#account-address {
  text-align: center;
}